a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul li {
    list-style: none;
    padding: 20px 10px;
}
ul{
    display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;

  margin-left: 75%;
  
}